
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 50px 20px 50px;

}

main>section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* shared style */
.display-flex{
    display: flex;
}

/* dark 01 */
.text-semi-black{
    color: #131313;
}

/* dark 02 */
.text-gray{
    color: #424242;  
}

/* dark 03 */
.text-light-gray{
    color: #727272;
}

/* orange color */
.text-primary{
    color: #FF900E;
}

.background-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.bnt-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}



/* header style */
header{
    padding: 30px;
}


/* navbar related style */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 2.8rem;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
   max-width: 1440px;
   margin: 0 auto;
   /* border:2px solid red; */

}

/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center; 
    margin-bottom: 50px;
}

.banner-titel{
    font-weight: 700;
    font-size: 4rem;
}

.banner-img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto;
}

/* team feature related style */
.teams {
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.our-features{
    margin-left: 80px;
    max-width: 530px;
    /* border: 2px solid rebeccapurple; */
}


#quick-list{
    font-weight: 500;
}

/* features related style */
.features{
    gap: 140px;
}

#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;

}
.feature-card{
    padding: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06) ;
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.featured-architect img{
    width: 100%;
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;

}

#experience-year{
    font-size: 4rem;
    font-weight: 700;
}

/* some facts related styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.fact-card{
    border:1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description{
    max-width: 540px;
}

/* sponsors related info */
.sponsors-info{
    max-width: 542px;
    /* border:1px solid #ff0e3e; */
    margin: 50px auto;
    text-align: center;
}

.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 50px;
}

.sponsor-company img{
    filter: grayscale(100%);
}


/* responsive media query */

@media screen and (max-width:576px){
    .navbar, 
    .nav-links,
    .teams,
    .features 
    {
        flex-direction: column;
    }

    .team-img-container, 
    .facts-container,
    .sponsor-company
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features{
    margin-left: 20px;
     }

     .facts-container{
        justify-items: center;
        gap: 24px;
     }

     .sponsor-company{
        justify-items: center;
        gap: 50px;
        padding-right: 50px;
     }

     #experience-badge{
        margin-left: 20px;
        margin-top: 20px;
     }
     
    
}

/* for medium size device */

@media screen and (min-width: 576px) and (max-width: 992px) {
   .teams, 
   .features{
    flex-direction: column;
     /* background-color: aqua; */
    } 

    .our-features{
    margin-left: 20px;
     }

     .sponsor-company,
     .facts-container{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        justify-items: center;
        gap: 50px;
        padding-right: 100px;
     }

     #experience-badge{
        margin-left: 20px;
        margin-top: 20px;
     }
     
    
}
