
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 50px 20px 50px;

}

main>section{
    margin-top: 130px;
}

/* shared style */
.display-flex{
    display: flex;
}

/* dark 02 */
.text-gray{
    color: #424242;  
}

/* dark 03 */
.text-light-gray{
    color: #727272;
}

/* orange color */
.text-primary{
    color: #FF900E;
}

.background-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.bnt-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

/* header style */
header{
    padding: 30px;
}


/* navbar related style */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 2.8rem;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
   max-width: 1440px;
   margin: 0 auto;
   /* border:2px solid red; */

}

.nav-links{
   
}

/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center; 
    margin-bottom: 50px;
}

.banner-titel{
    font-weight: 700;
    font-size: 4rem;
}

.banner-img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto;
}

/* team feature related style */
.teams {
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.our-features{
    margin-left: 80px;
    max-width: 530px;
    /* border: 2px solid rebeccapurple; */
}

.feature-title{
    font-size: 2.8rem;
}
#quick-list{
    font-weight: 500;
}



/* responsive media query */

@media screen and (max-width:576px){
    .navbar, 
    .nav-links,
    .teams
    {
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features{
    margin-left: 20px;
     }
    
}

/* for medium size device */

@media screen and (min-width: 576px) and (max-width: 992px) {
   .teams{
    flex-direction: column;
     /* background-color: aqua; */
    } 

    .our-features{
    margin-left: 20px;
     }
    
}
